{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": ["eslint:recommended", "google"],
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "globals": {
      "document": true,
      "atom": true
    },
    "rules": {
        "no-console": 0
    }
}
